* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ec5766;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.todo {
    border-left: 4px solid #d91e36;
    color: rgb(75, 75, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.delete {
    color: #d91e36;
    cursor: pointer;
}